<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Станции в маршруте:</strong>
</p>

<li>
<p>
  <% if @route.railway_stations.empty? %>
    На этом маршруте станций нет
  <% else %>
  <ul>
    <% @route.railway_stations.ordered.each do |station| %>
      <li><%= station.title %></li>
      <%= form_tag update_position_admin_railway_station_path(station.id), method: :post do %>
        <%= hidden_field_tag :route_id, @route.id %>
        <%= label_tag :number %>
        <%= number_field_tag :number, station.index(@route.id) %>
        <%= submit_tag 'Save' %>
      <% end %>
      <%= form_tag update_time_admin_railway_station_path(station.id), method: :post do %>
        <%= hidden_field_tag :route_id, @route.id %>
        <%= label_tag :departure_time %>
        <%= datetime_local_field :departure_time, station.departure_time(@route.id) %>
        <%= label_tag :arrival_time %>
        <%= datetime_local_field :arrival_time, station.arrival_time(@route.id) %>
        <%= label_tag "Current times: #{station.departure_time(@route.id)} - #{station.arrival_time(@route.id)}" %>
        <%= submit_tag 'Update time' %>
      <% end %>
    <% end %>
  </ul>
  <% end %>
</li>


<p>
  <strong>Поезда на маршруте:</strong>
</p>

<p>
  <% if @route.trains.empty? %>
    На этом маршруте поездов нет
  <% else %>
  <ul>
    <% @route.trains.each do |train| %>
      <li><%= train.number %></li>
    <% end %>
  </ul>
<% end %>


<%= link_to 'Редактировать', edit_admin_route_path(@route) %> |
<%= link_to 'Вернуться', admin_routes_path %>