<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>На станции: </strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Не указано
  <% end %>
</p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
  <strong>Carriages:</strong>
<ul>
  <% @train.cars.each do |x|  %>
    <li><%= link_to "Вагон№#{x.number}", car_path(x) %></li>
  <% end %>
</ul>



<% if @train.route.present? %>
  <p>Поезд двигается по следующему маршруту: </p>
  <ul>
    <%= @train.route.name %>
  </ul>
<% else %>
  <p>Поезд пока не едет ни по какому маршруту</p>
<% end %>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
