<%= form_with(model: [:admin, train, @car.becomes(Car)]) do |form| %>
  <%= render 'common/errors', resource: @car %>

  <div class="field">
    <%= form.label "Номер вагона" %>
    <%= form.number_field :number %>
  </div>
  <div class="field choose">
    <%= form.label :type, "Тип вагона" %>
    <%= form.select :type, Car::TYPES, selected: @car.type || 'EconomyCar' %>
  </div>
  <div class="field top_seats seats">
    <%= form.label "Верхние места в вагоне" %>
    <%= form.number_field :top_seats %>
  </div>
  <div class="field top_side_seats seats">
    <%= form.label "Верхние боковые места" %>
    <%= form.number_field :side_seats_top %>
  </div>
  <div class="field bottom_side_seats seats">
    <%= form.label "Нижние боковые места" %>
    <%= form.number_field :side_seats_bottom %>
  </div>
  <div class="field bottom_seats seats">
    <%= form.label "Нижние места в вагоне" %>
    <%= form.number_field :lower_seats %>
  </div>
  <div class="field sitting_seats seats">
    <%= form.label "Сидячие места в вагоне" %>
    <%= form.number_field :sitting_seats %>
  </div>
  <div class="field">
    <%= form.label :train, "Номер поезда, к которому вагон присоединится" %>
    <%= form.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>