<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('admin.cars.form.car_number') %></strong>
  <%= @car.number %>
</p>

<p>  <strong><%= t('admin.cars.form.car_type') %></strong>
  <% if @car.type == 'EconomyCar'%>
  <p><%= t('.economy_car') %></p>
  <% elsif @car.type == 'CoupeCar'%>
    <p><%= t('.coupe_car') %></p>
  <% elsif @car.type == 'SittingCar' %>
    <p><%= t('.sitting_car') %></p>
  <% else %>
    <p><%= t('.sleeping_car') %> </p>
  <% end %>


<p>  <strong><%= t('.car_seats') %></strong>
  <% if @car.type == 'EconomyCar'%>
  <p><%= t('admin.cars.form.car_top_seats') %><%= @car.top_seats %></p>
  <p><%= t('admin.cars.form.car_lower_seats') %> <%= @car.lower_seats %></p>
  <p><%= t('admin.cars.form.car_side_seats_top') %> <%= @car.side_seats_top %></p>
  <p><%= t('admin.cars.form.car_side_seats_bottom') %><%= @car.side_seats_bottom %></p>
<% elsif @car.type == 'CoupeCar'%>
  <p><%= t('admin.cars.form.car_top_seats') %> <%= @car.top_seats %></p>
  <p><%= t('admin.cars.form.car_lower_seats') %><%= @car.lower_seats %></p>
<% elsif @car.type == 'SittingCar'%>
  <p><%= t('admin.cars.form.car_sitting_seats') %><%= @car.sitting_seats %></p>
<%else %>
  <p><%= t('admin.cars.form.car_lower_seats') %><%= @car.lower_seats %></p>
<% end %>



<%= link_to t('common.edit'), edit_admin_car_path(@car) %> |
<%= link_to t('common.back'), admin_train_path(@car.train_id) %>