<p id="notice"><%= notice %></p>

<p>
  <strong>Car number:</strong>
  <%= @car.number %>
</p>

<p>  <strong>Вид вагона:</strong>
  <% if @car.type == 'EconomyCar'%>
  <p>Плацкартный</p>
  <% elsif @car.type == 'CoupeCar'%>
    <p>Купешный</p>
  <% elsif @car.type == 'SittingCar' %>
    <p>Сидячий</p>
  <% else %>
    <p> Спальный </p>
  <% end %>


<p>  <strong>Места в вагоне</strong>
  <% if @car.type == 'EconomyCar'%>
  <p>Верхние плацкартные места: <%= @car.top_seats %></p>
  <p>Нижние плацкартные места: <%= @car.lower_seats %></p>
<%else %>
  <p>Верхние купешные места: <%= @car.top_seats %></p>
  <p>Нижние купешные места: <%= @car.lower_seats %></p>
<% end %>



<%= link_to 'Редактировать', edit_admin_car_path(@car) %> |
<%= link_to 'Вернуться', admin_train_path(@car.train_id) %>