<h1><%= t('admin.welcome.index.admin_title') %></h1>

<%= link_to t('admin.welcome.index.station_list'), admin_railway_stations_path %>
<h1> </h1>
<%= link_to t('admin.welcome.index.train_list'), admin_trains_path %>
<h1> </h1>
<%= link_to t('admin.welcome.index.routes_list'), admin_routes_path %>
<h1> </h1>
<%= link_to t('admin.welcome.index.ticket_list'), admin_tickets_path %>
