<%= form_with(model: ticket) do |form| %>
  <%= render 'common/errors', resource: @ticket %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
    <%= form.label :train_id, "Номер поезда"%>
    <%= form.collection_select :train_id, Train.all, :id, :number %>
    <%= form.label :first_station_id, "Первая станция" %>
    <%= form.collection_select :first_station_id, RailwayStation.all, :id, :title%>
    <%= form.label :last_station_id, "Последняя станция" %>
    <%= form.collection_select :last_station_id, RailwayStation.all, :id, :title%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= form_tag routes_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Поиск" %>
<% end %>
