<%= form_with(model: ticket) do |form| %>
  <%= render 'common/errors', resource: @ticket %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
    <%= form.label :train_number %>
    <%= form.number_field :train_number %>
    <%= form.label :first_station_id %>
    <%= form.number_field :first_station_id %>
    <%= form.label :last_station_id %>
    <%= form.number_field :last_station_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>