<%= form_with(model: ticket) do |form| %>
  <%= render 'common/errors', resource: @ticket %>

  <div class="field">
    <%= form.label :user_first_name, t('admin.tickets.first_name') %>
    <%= form.text_field :user_first_name%>
    <%= form.label :user_last_name, t('admin.tickets.last_name') %>
    <%= form.text_field :user_last_name%>
    <%= form.label :user_passport, t('admin.tickets.passport_number') %>
    <%= form.number_field :user_passport %>
    <%= form.label :train_id, t('activerecord.attributes.train.number')%>
    <%= form.collection_select :train_id, Train.all, :id, :number %>
    <%= form.label :route_id, 'Routes' %>
    <%= form.collection_select :route_id, Route.all, :id, :name, include_blank: 'choose route' %>
    <%= form.label :first_station_id, t('admin.tickets.first_station') %>
    <%= form.grouped_collection_select :first_station_id, Route.order(:name), :railway_stations, :name, :id, :title, include_blank: true%>
    <%= form.label :last_station_id, t('admin.tickets.last_station') %>
    <%= form.grouped_collection_select :last_station_id, Route.order(:name), :railway_stations, :name, :id, :title, include_blank: true%>
  </div>

  <div class="actions">
    <%= form.submit t('.sumbit') %>
  </div>
<% end %>