<tr>
  <td><%= ticket.id %></td>
  <td><%= ticket.user_first_name %></td>
  <td><%= ticket.user_last_name %></td>
  <td><%= ticket.user_passport %></td>
  <td><%= ticket.first_station.title %></td>
  <td><%= ticket.last_station.title %></td>
  <td><%= link_to t('activerecord.attributes.show'), [:admin, ticket] %></td>
  <td><%= link_to t('activerecord.attributes.edit'), edit_admin_ticket_path(ticket) %></td>
  <td><%= link_to t('activerecord.attributes.destroy'), admin_ticket_path(ticket), method: :delete, data: { confirm: t('activerecord.destroy_confirm') } %></td>
</tr>
