<%= form_with(model: [:admin, train]) do |form| %>
  <%= render 'common/errors', resource: @train%>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number %>
  </div>

  <div class="field">
    <%= form.label :current_station_id, "Текущая станция"%>
    <%= form.collection_select :current_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div class="field">
    <%= form.label :direction %>
    <%= form.check_box :direction %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
