<%= form_with(model: car) do |form| %>
  <%= render 'common/errors', resource: @car %>

  <div class="field">
    <%= form.label "Номер вагона" %>
    <%= form.number_field :number %>
    <%= form.label :type, "Тип вагона" %>
    <%= form.select :type, Car::TYPES, selected: @car.type || 'EconomyCar' %>
    <%= form.label "Верхние места в вагоне" %>
    <%= form.number_field :top_seats %>
    <%= form.label "Верхние боковые места" %>
    <%= form.number_field :side_seats_top %>
    <%= form.label "Нижние боковые места" %>
    <%= form.number_field :side_seats_bottom %>
    <%= form.label "Нижние места в вагоне" %>
    <%= form.number_field :lower_seats %>
    <%= form.label "Сидячие места в вагоне" %>
    <%= form.number_field :sitting_seats %>
    <%= form.label :current_train_id, "Номер поезда, к которому вагон присоединится" %>
    <%= form.collection_select :current_train_id, Train.all, :id, :number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>