<p>Привіт, <%= @user.first_name%></p>

<p>Ви придбали квиток за маршрутом <%= @ticket.route_name %>></p>
<p>Подивитись квиток ви можете <%= link_to "тут", @ticket%></p>
<% if @user.admin? %>
  <p>Усі квитки ви можете подивитись <%= link_to "тут", admin_tickets_url %></p>
  <% else %>
  <p>Усі свої квитки ви можете подивитись <%= link_to "тут", tickets_url %></p>
<% end %>